<?xml version="1.0" encoding="UTF-8"?>
<configuration status="trace">

<appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="[%d{ISO8601}] [%t] %-5p %c{6} - %msg%n"/>
    </Console>

    <RollingFile name="Roller" fileName="logs/automate.log" filePattern="logs/automate-%d{yyyy-MM-dd}.log">
        <PatternLayout>
            <pattern>[%d{ISO8601}] [%t] %-5p %c{6} - %msg%n</pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </Policies>
    </RollingFile>



</appenders>



<loggers>
    <logger name="com.simonlennon" level="trace" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="Roller"/>
    </logger>
    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</loggers>

</configuration>